<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="SpringSecurityAopAuthApplication" type="SpringBootApplicationConfigurationType" factoryName="Spring Boot" nameIsGenerated="true">
    <option name="ACTIVE_PROFILES" value="local" />
    <module name="spring-security-aop-auth" />
    <option name="SPRING_BOOT_MAIN_CLASS" value="com.marbl.spring_security_aop_auth.SpringSecurityAopAuthApplication" />
    <method v="2">
      <option name="Make" enabled="true" />
    </method>
  </configuration>
</component>